body {
    margin: 25px;
    background-color: black;
    font-family: monospace;
    font-size: 20px;
    color: green;
}

h1 {
    font-size: 35px;
    font-weight: bold;
    margin-top: 5px;
    color: green;
}

h2 {
    font-size: 28px;
    font-weight: bold;
    margin-top: 5px;
    color: yellow;
}
